In [4]:
import pandas as pd
import tqdm
import glob
import os

In [5]:
files = glob.glob("../data/wikipedia/a.parquet")
files = [f for f in files if "all" not in f]

In [6]:
chunk_size = 10000000

In [29]:
def output_seperated_files(token_length, stride, drop_category):    
    output_dir = f"../data/wikipedia/sep_chunk/token_length{token_length}_stride_sentence{stride}_drop_category{drop_category}"
    os.makedirs(output_dir, exist_ok=True)
    chunk = 1
    df_wiki_sep = []
    for file in files:
        df_wiki = pd.read_parquet(file)
        df_wiki = df_wiki.drop("categories", axis=1)
        for i in tqdm.tqdm(range(len(df_wiki))):
            series = df_wiki.iloc[i]
            text = series["text"]
            if drop_category:
                idx = text.find(" Category:")
                text = text[:idx]

            text_space = text.split(".")
            text = ""
            text_stride = []

            series_ = series.to_dict()
            series_["text"] = " ".join(text_space[:stride*2])
            series_["title_only"] = True
            df_wiki_sep.append(series_)
            
            appended = False
            for j in range(0, len(text_space)):
                series_ = series.to_dict()
                text += text_space[j] + "."
                text_stride.append(text_space[j])
                text_stride = text_stride[-stride:]
                appended = False
                if len(text.split(" ")) > token_length:
                    series_["text"] = text
                    series_["title_only"] = False
                    df_wiki_sep.append(series_)
                    text = ".".join(text_stride)
                    appended = True
            if not appended:
                series_["text"] = text
                series_["title_only"] = False
                df_wiki_sep.append(series_)

            if len(df_wiki_sep) > chunk_size:
                print(f"chunk {chunk}")
                df_wiki_sep = pd.DataFrame(df_wiki_sep)
                df_wiki_sep.to_parquet(f"{output_dir}/chunk{chunk}.parquet")
                df_wiki_sep = []
                chunk += 1
            if i > 100:
                break
    df_wiki_sep = pd.DataFrame(df_wiki_sep)
    df_wiki_sep.to_parquet(f"{output_dir}/chunk{chunk}.parquet")

In [30]:
output_seperated_files(token_length=90, stride=3, drop_category=True)

  0%|                                                                                                              | 101/442726 [00:00<02:28, 2983.29it/s]

In [31]:
df = pd.read_parquet(f"../data/wikipedia/sep_chunk/token_length90_stride_sentence3_drop_categoryTrue/chunk1.parquet")

In [37]:
df

,id,title,text,title_only
0,49495844,A & B High Performance Firearms,A & B High Performance Firearms was a competit...,True
1,3579086,A & C Black,A & C Black is a British book publishing compa...,True
2,3579086,A & C Black,A & C Black is a British book publishing compa...,False
3,3579086,A & C Black,==History== The firm was founded in 1807 by C...,False
4,3579086,A & C Black,During the years 1827–1903 the firm published...,False
...,...,...,...,...
1275,11631735,A Ballad of the West,"Beginning with Buffalo Bill's birth in 1846, ...",False
1276,11631735,A Ballad of the West,Bobby Bridger also wrote a biography on Buffa...,False
1277,11631735,A Ballad of the West,Part Three: Lakota: Lakota begins with the me...,False
1278,11631735,A Ballad of the West,"A 'telling of a telling of a telling,' Lakota...",False
1279,11631735,A Ballad of the West,A Ballad of the West was partially recorded i...,False

In [36]:
df["text"].apply(len)

0       181
1       332
2       568
3       579
4       651
       ...
1275    951
1276    911
1277    765
1278    663
1279    599
Name: text, Length: 1280, dtype: int64