In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("../data/gpt_generated_data/all_12_with_context2_train.csv")
df2 = pd.read_csv("../data/gpt_generated_data/science_qa.csv")
df3 = pd.read_csv("../data/gpt_generated_data/openbook.csv")
df4 = pd.read_csv("../data/gpt_generated_data/mmlu.csv")
df5 = pd.read_csv("../data/gpt_generated_data/eval300_gpt4.csv")
df6 = pd.read_csv("../data/kaggle-llm-science-exam/train.csv")

In [3]:
df5 = df5[df5["answer"].isin(["A", "B", "C", "D", "E"])]
df5["source"] = "eval300"

df6["source"] = "test"

In [4]:
df5["answer"] = df5["gpt4"]

In [5]:
import numpy as np
def fill_random(df):
    all_choices = df[["A", "B", "C", "D", "E"]].values.flatten()
    all_choices = all_choices[all_choices == all_choices]  # not nan
    def fillna_randomly(value):
        if pd.isna(value):
            return np.random.choice(all_choices)
        else:
            return value

    return df.applymap(fillna_randomly)
df1 = fill_random(df1)
df2 = fill_random(df2)
df3 = fill_random(df3)
df4 = fill_random(df4)
df5 = fill_random(df5)
df6 = fill_random(df6)

In [6]:
len(df1), len(df2), len(df3), len(df4), len(df5), len(df6)

(59059, 3291, 2115, 10915, 300, 200)

In [7]:
df_train = pd.concat([df1, df2, df3, df4])[['prompt', 'A', 'B', 'C', 'D', 'E', 'answer', 'source']]
df_train["dataset"] = "train"

In [8]:
df_valid = pd.concat([df5, df6])[['prompt', 'A', 'B', 'C', 'D', 'E', 'answer', 'source']]
df_valid["dataset"] = "valid"

In [9]:
len(df_train), len(df_valid)

(75380, 500)

In [10]:
pd.concat([df_train, df_valid]).groupby(["source", "dataset"]).size()

source                                                                           dataset
1                                                                                train        500
2                                                                                train       5986
3                                                                                train      14831
4                                                                                train       5862
5                                                                                train       5923
6                                                                                train       5968
7                                                                                train        999
8                                                                                train       3249
9                                                                                train       3069
10                                                                               train      11679
11                                                                               train        993
additional_data/MMLU/test.csv                                                    train       5781
additional_data/MMLU/train.csv                                                   train       4499
additional_data/MMLU/valid.csv                                                   train        635
additional_data/OpenBookQA-V1-Sep2018/OpenBookQA-V1-Sep2018/Data/Main/dev.tsv    train        164
additional_data/OpenBookQA-V1-Sep2018/OpenBookQA-V1-Sep2018/Data/Main/test.tsv   train        180
additional_data/OpenBookQA-V1-Sep2018/OpenBookQA-V1-Sep2018/Data/Main/train.tsv  train       1771
additional_data/ScienceQA/test.parquet                                           train        673
additional_data/ScienceQA/train.parquet                                          train       1995
additional_data/ScienceQA/val.parquet                                            train        623
eval300                                                                          valid        300
test                                                                             valid        200
dtype: int64

In [11]:
pd.concat([df_train, df_valid]).reset_index(drop=True).to_csv("20231005_concatenate.csv")