In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("../data/gpt_generated_data/all_12_with_context2_train2_gpt.csv")
df2 = pd.read_csv("../data/gpt_generated_data/all_12_with_context2_test2_gpt.csv")

df3 = pd.read_csv("../data/gpt_generated_data/science_qa.csv")
df4 = pd.read_csv("../data/gpt_generated_data/openbook.csv")
df5 = pd.read_csv("../data/gpt_generated_data/mmlu.csv")
df6 = pd.read_csv("../data/gpt_generated_data/20230914125028_20230911_gpt3.5_generate4.csv")

In [3]:
df6["source"] = "20230914125028_20230911_gpt3.5_generate4"

In [4]:
df1["source"].value_counts().index.values

array([ 3, 10,  2,  6,  5,  4,  9,  8, 11, 12,  7,  1])

In [5]:
df2["source"].value_counts().index.values

array([1, 2, 3, 4, 5, 6, 7, 8])

In [6]:
import numpy as np
def fill_random(df):
    all_choices = df[["A", "B", "C", "D", "E"]].values.flatten()
    all_choices = all_choices[all_choices == all_choices]  # not nan
    def fillna_randomly(value):
        if pd.isna(value):
            return np.random.choice(all_choices)
        else:
            return value

    return df.applymap(fillna_randomly)
df1 = fill_random(df1)
df2 = fill_random(df2)
df3 = fill_random(df3)
df4 = fill_random(df4)
df5 = fill_random(df5)
df6 = fill_random(df6)

In [7]:
len(df1), len(df2), len(df3), len(df4), len(df5), len(df6)

(59347, 1000, 3291, 2115, 10915, 17253)

In [8]:
df1["dataset"] = "train"
df2["dataset"] = "valid"
df3["dataset"] = "train"
df4["dataset"] = "train"
df5["dataset"] = "train"
df6["dataset"] = "train"

In [17]:
df1.columns

Index(['Unnamed: 0', 'prompt', 'context', 'A', 'B', 'C', 'D', 'E', 'answer',
       'source', 'dataset'],
      dtype='object')

In [18]:
pd.concat([df1, df2, df3, df4, df5, df6])[['prompt', 'A', 'B', 'C', 'D', 'E', 'answer', 'source', 'dataset']].reset_index(drop=True).to_csv("20230918_concatenate.csv", index=False)

In [19]:
pd.concat([df1, df2, df3, df4, df5, df6])[['prompt', 'A', 'B', 'C', 'D', 'E', 'answer', 'source', 'dataset']]

,prompt,A,B,C,D,E,answer,source,dataset
0,"In relation to Eunice Fay McKenzie's career, w...",McKenzie showcased her singing talents in nume...,McKenzie is primarily remembered for her starr...,McKenzie gained recognition for her role as a ...,McKenzie's collaborations with director Blake ...,McKenzie's successful career in sound films co...,B,1,train
1,How does Modified Newtonian Dynamics (MOND) im...,MOND is a theory that increases the discrepanc...,MOND explains the missing baryonic mass in gal...,MOND is a theory that reduces the observed mis...,MOND is a theory that eliminates the observed ...,MOND's impact on the observed missing baryonic...,E,1,train
2,Which of the following statements accurately d...,Ray Montgomerie is a former footballer who pla...,Ray Montgomerie is a former footballer who pla...,Ray Montgomerie is a former footballer who pla...,Ray Montgomerie is a former footballer who pla...,Ray Montgomerie is a former footballer who pla...,B,1,train
3,What is the significance of the Museum of the ...,The Museum of the Occupation of Latvia is a me...,The Museum of the Occupation of Latvia showcas...,The Museum of the Occupation of Latvia was est...,The Museum of the Occupation of Latvia primari...,The Museum of the Occupation of Latvia is a mu...,C,1,train
4,What is the significance of Chetak or Cetak at...,Chetak or Cetak was a legendary horse known fo...,Chetak or Cetak was a horse renowned for its s...,Chetak or Cetak was a mystical horse believed ...,Chetak or Cetak was an armored horse equipped ...,Chetak or Cetak was the horse ridden by Mahara...,E,1,train
...,...,...,...,...,...,...,...,...,...
17248,Which of the following is true about glaucopha...,They result from metamorphism of basaltic rocks.,They are commonly found in Southern Central Ch...,They are characterized by high temperature and...,"They are composed of zussmanite, deerite, and ...",They occur as a result of subduction of oceani...,A,20230914125028_20230911_gpt3.5_generate4,train
17249,What is the main focus of Bern's research in t...,Computation of Feynman diagrams in quantum ele...,Development of twistor-space methods applied t...,Investigation of nonperturbative continuum reg...,Study of the perturbative treatment of N = 8 s...,Calculation of perturbative scattering amplitu...,B,20230914125028_20230911_gpt3.5_generate4,train
17250,Where did John Hopcroft supervise Galil during...,Tel Aviv University,Columbia University,IBM's Thomas J. Watson Research Center,Cornell University,Georgia Tech,D,20230914125028_20230911_gpt3.5_generate4,train
17251,What is the term used to describe a genotype c...,Homozygous,Heterozygous,Hemizygous,Nullizygous,Zygosity,A,20230914125028_20230911_gpt3.5_generate4,train
17252,Which of the following organisms forms a diplo...,Humans,Fungi,Plants,Reprogramming to totipotency,Chlamydomonas,B,20230914125028_20230911_gpt3.5_generate4,train

In [10]:
pd.concat([df1, df2, df3, df4, df5, df6])["source"].value_counts()

20230914125028_20230911_gpt3.5_generate4                                           17253
3                                                                                  14831
10                                                                                 11679
2                                                                                   5986
6                                                                                   5968
5                                                                                   5923
4                                                                                   5862
additional_data/MMLU/test.csv                                                       5781
additional_data/MMLU/train.csv                                                      4499
9                                                                                   3369
8                                                                                   3249
additional_data/ScienceQA/train.parquet                                             1995
additional_data/OpenBookQA-V1-Sep2018/OpenBookQA-V1-Sep2018/Data/Main/train.tsv     1771
7                                                                                    999
11                                                                                   993
12                                                                                   988
additional_data/ScienceQA/test.parquet                                               673
additional_data/MMLU/valid.csv                                                       635
additional_data/ScienceQA/val.parquet                                                623
1                                                                                    500
additional_data/OpenBookQA-V1-Sep2018/OpenBookQA-V1-Sep2018/Data/Main/test.tsv       180
additional_data/OpenBookQA-V1-Sep2018/OpenBookQA-V1-Sep2018/Data/Main/dev.tsv        164
Name: source, dtype: int64